/* fav color #FFE67C */
body {
    background: #232D3F;
}

/* adding the container properties  (moving div in the center of the web page)*/
.container {
    inline-size: 400px;
    padding: 25px 35px;
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    background: #CFFDE1;
    border-radius: 10px;
}

/* designing paragraph  */
.container p {
    font-weight: 600;
    font-size: 15px;
    margin-block-end: 8px;
    font-family: ;
}

/* input field */
.container input {
    inline-size: 100%;
    block-size: 50px;
    /* edit below later */
    border: 2px solid;
    outline: 0;
    padding: 5px;
    margin: 10px 0 20px;
    border-radius: 5px;
}

/* button  */
.container button {
    inline-size: 100px;
    block-size: 50px;
    /* choose color later */
    background: #45FFCA;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 5px;
    /* box-shadow: 0 10px 10px rgba(red, green, blue, alpha); check on later */
    cursor: pointer;
    margin: 20px 0;
    font-weight: 500;
}

/* styling qr image box */
#ImgBox {
    inline-size: 200px;
    border-radius: 5px;
    max-block-size: 0;
    overflow: hidden;
    transform: max-height 1s;
}

/* styling image box image */
#ImgBox img {
    inline-size: 100px;
    padding: 10px;
}

/* employed when the qr is displayed  */
#imgBox.show-img {
    max-block-size: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
}

.error {
    animation: shake 0.1s linear 10;
}

/* Add bellow after completion Add class */
@keyframes shake {
    0% {
        transform: translatex(0)
    }

    25% {
        transform: translatex(-2%)
    }

    50% {
        transform: translatex(0)
    }

    75% {
        transform: translatex(2px)
    }

    100% {
        transform: translatex(0)
    }
}



/* NAVBAR */
nav {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

nav ul {
    flex: 3;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav .btn {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 20px;
}