body {
    background: #0802A3;
}

/* adding the container properties  (moving div in the center of the web page)*/
.container {
    inline-size: 400px;
    padding: 25px 35px;
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    background: #FF4B91;
    border-radius: 10px;
}

/* designing paragraph  */
.container p {
    font-weight: 600;
    font-size: 15px;
    margin-block-end: 8px;
}

/* input field */
.container input {
    inline-size: 100%;
    block-size: 50px;
    /* edit below later */
    border: 1px solid;
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
}

/* button  */
.container button {
    inline-size: 100px;
    block-size: 50px;
    /* choose color later */
    background: #45FFCA;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 5px;
    /* box-shadow: 0 10px 10px rgba(red, green, blue, alpha); check on later */
    cursor: pointer;
    margin: 20px 0;
    font-weight: 500;
}